---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import "../styles/docs.css"
import clasNameExample from "../../public/classNameExample.svg"
import { Image } from 'astro:assets';
---

<Layout title='Chromafy Docs'>
    <div class="docs-body">
        <Navbar currentPage="Docs"/>
    <main><Image src={clasNameExample} alt='class name example'/></main>
    </div>
</Layout>